.SideBar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: aqua;
    color: black;
}

.SideBarCollapsed {
    
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 10px;
    height: 100%;
    
    background-color: aqua;
    background: opacity($color: #000000);
    color: black;
    
}
