.App {
    
    // padding-left: 160.5px;
    // padding-right: 160.5px;
    // display: flex;
    // flex-direction: column;
    padding: 20px;
    //min-height: 100%;
    position: relative;
    min-height: 100vh; 
}

.Content {
    padding-bottom: 2.5rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: gray;
}

::-webkit-scrollbar-track:hover {
    background: blue;
}

// .App {
//     color: var(--text-primary);
//     background-color: var(--background);
//     font-size: large;
//     font-weight: bold;
//     
//     height: calc(100vh - 40px);
//     transition: all .5s;
// }
// button {
//     color: var(--text-primary);
//     background-color: var(--background);
//     border: 2px var(--text-primary) solid;
//     float: right;
//     transition: all .5s;
// }